@import 'tailwindcss';

@theme {
  --color-yellow: #fffb2e;
  --color-green: #078503;
  --color-background: #f3f3f3;

  --font-afacad: 'Afacad', 'sans-serif';
}

pre {
  font-family: Arial, sans-serif;

  white-space: pre-wrap; /* Ensures text wraps within the container */
  word-break: break-word; /* Prevents long words from overflowing */
}
